$white: rgba(234, 239, 246, 1);
$white-bg: rgba(246, 252, 250, 1);
$grey: rgba(89, 113, 147, 1);
$black: rgba(34, 36, 38, 1);
$brown: rgba(53, 54, 55, 1);
$grey-blue: rgba(61, 69, 80, 1);
$grey-light: rgba(147, 147, 147, 1);
$shadow: rgba(118, 118, 118, 0.08);
$grey-bg-img: rgba(177, 190, 208, 1);
$footer-bg: rgba(177, 190, 208, 1);
$grey-primary: rgba(136, 156, 185, 1);
$circle-bg: rgba(201, 214, 233, 1);
